
@model WebApplication2.Models.Booking

@{
    ViewBag.Title = "HomePage";

}

<h2>HomePage</h2>
@{
    Html.RenderPartial("~/Views/Main/main.cshtml");
}


<link href="~/content/StyleSheet1.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="~/Content/login-icons-png-5.png" alt="" />
            <h3>Welcome</h3>
            <p>Booking HERE</p>

            <style>
                .btnRegister {
                    float: left;
                    margin-top: 10%;
                    border: none;
                    border-radius: 1.5rem;
                    padding: 2%;
                    background: #0062cc;
                    color: #fff;
                    font-weight: 600;
                    width: 20%;
                    cursor: pointer;
                }
            </style>


        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">User</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  
                    <div class="row register-form">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-6">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <label>Name</label> 
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Email</label> @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label>RoomType</label> @Html.TextBoxFor(x => x.roomtype, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.roomtype, "", new { @class = "text-danger" })
                                </div>
                                                                <div class="form-group">
                                    <label>CheckIn</label>


                                    @Html.TextBoxFor(x => x.checkin, new { @class = "datepicker", @type = "date" })
                                    @Html.ValidationMessageFor(model => model.checkin, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>NoofDays</label>

                                    @Html.TextBoxFor(x => x.noofnight, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.noofnight, "", new { @class = "text-danger" })
                                </div>

                                <div>
                                    <input type="submit" class="btnRegister" value="Sign Up" />
                                </div>
                            </div>

                        }

                    </div>
                </div>






            </div>
        </div>
    </div>
</div>