@model WebApplication2.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roomtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noofnight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noofnight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bookingid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
