
@model WebApplication2.Models.admin
@{
    ViewBag.Title = "adminLogin";
}




<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/content/bootstrap.css" />
    <link href="~/content/bootstrap-theme.css" rel="stylesheet" />


    <link href="~/content/StyleSheet1.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




</head>

<body style="background-color:black">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="~/Content/login-icons-png-5.png" alt="" />
                <h3>Welcome</h3>


            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="Login" role="tab" aria-controls="home" aria-selected="false">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Admin</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="row register-form">
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label>UserName </label> @Html.TextBoxFor(x => x.adminname, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.adminname, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Password </label> @Html.PasswordFor(x => x.pass, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
                                </div>
                                <div style="align-self:auto">
                                    <input type="submit" class="btnRegister"  value="Login" />
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</body>
</html>
