@model WebApplication2.Models.Register
@{


    ViewBag.Title = "Login";
}
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="~/content/bootstrap.css" />
<link href="~/content/bootstrap-theme.css" rel="stylesheet" />


<link href="~/content/StyleSheet1.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    .btnRegister {
        float: left;
        margin-top: 10%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }
</style>



<body style="background-color:black">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>

            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="AdminLogin" role="tab" aria-controls="profile" aria-selected="false">Admin</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="row register-form">

                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label>Email </label> @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Password </label> @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>


  <div class="container" style="background-color:#f1f1f1">
      <div class="container signin">
          <p>Not Register Yet? <a href="~/Register/Register">Register here</a>.</p>
      </div>
  </div>
                                <div class="form-group">
                                    <input type="submit" class="btnRegister" value="Sign Up" />
                                    <input type="submit" onload="back()" onclick="myFunction()" class="btnRegister" value="Sign Out" />
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script>
function myFunction() {
    alert("Sign Out Successfully!!!");
}
function back()
{
    window.history.forward(0)


}
    </script>
    </body>

