@model WebApplication2.Models.Register
@{


    ViewBag.Title = "Login";
}
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="~/content/bootstrap.css" />
<link href="~/content/bootstrap-theme.css" rel="stylesheet" />


<link href="~/content/StyleSheet1.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




<body style="background-color:black">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>

            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="AdminLogin" role="tab" aria-controls="profile" aria-selected="false">Admin</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="row register-form">

                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label>UserName </label> @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Password </label> @Html.PasswordFor(x => x.Pass, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btnRegister" value="Login" />
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    </body>

