@model Hotel_Reservation_SystemProject.Models.Register

@{
    ViewBag.Title = "Register";

}


<link href="~/content/StyleSheet1.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body style="background-color:black">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="~/Content/login-icons-png-5.png" alt="" />
                <h3>Welcome</h3>
                <p>LOGIN HERE</p>

                <a class="btnRegister " href="Login">Login</a>

            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="adminregister" role="tab" aria-controls="profile" aria-selected="false">Admin</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Apply as a Guest</h3>
                        <div class="row register-form">

                            @using (Html.BeginForm())
                            {
                                <div class="col-md-6">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label>Email </label> @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        
                                        <label>Password </label> @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    
                                    </div>
                                    <div class="form-group">
                                        <label>First Name </label> @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label>Last Name</label>
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Id Proof</label>

                                        @Html.TextBoxFor(x => x.ValidId, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ValidId, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-md-6">


                                    <div class="form-group">
                                        <label>Phone </label> @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>

                                   

                                    

                                </div>
                                <div>
                                    <input type="submit" class="btnRegister"  value="Register" />
                                </div>
                            }

                        </div>
                    </div>






                </div>
            </div>
        </div>
    </div>
</body>